{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} hi :D{% endblock %}</h1>
    <h2>If you are reading this it means that the person who put her 
        <br> blood sweat and tears has finally made it(that person is so proud of herself )
        <br>Even if this look simple(and not so pretty) we don't judge.
        <p>We still don't know what this small "website" is gonna be about, 
        <br> we are still working on it. Thank you</p>
    </h2>
    <h3>{{ utc_dt }}</h3>
{% endblock %}