<!DOCTYPE html>
<html lang="en"> 
    <link rel="stylesheet" href="style.css" />
    <style>
        body{
            background-image: url(https://wallpapers.com/images/hd/light-color-background-u5ajon1xr9puabyq.jpg);
        }
        div{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }
        form{
            text-align: center;
            margin-bottom: 30px;
        }
    </style>

    <body>
        <h3>Please login with your username and password</h3>
        <form method="post">
            <p><input type=text name=username>
            <p><input type=text name=password>
            <p><input type=submit value=Login>
        </form>
    </body>
</html> 
    

